# Byte-compiled / optimized / DLL files
**/*__pycache__/




.vscode/

*.ipynb

test*

datasets_utils/tmp/

#datasets_utils/pose/pretrained_models/



**/*.png

#**/*.txt

#**/*.json

**/*.csv

**/*.jpg

**/*.parquet

.idea/