# Byte-compiled / optimized / DLL files
**/*__pycache__/




.vscode/

*.ipynb

test*

datasets_utils/tmp/

#datasets_utils/pose/pretrained_models/



**/*.png

#**/*.txt

#**/*.json

**/*.csv

**/*.jpg

**/*.parquet

.idea/

model/



datasets_utils/pose/etc/feature_matching_baselines/LoFTR/weights/

datasets_utils/pose/etc/feature_matching_baselines/SuperGlue/models/weights/

datasets_utils/pose/pretrained_models/

**/*ipynb**

wandb/

/*.py

onnx_path/

engine_path/

onnx_opt_path/

*.pt

onnx/

engine/

*.ps1


